.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 0px 10px;
  background-color: #fc7651;
  font-size: 1.2rem;
}

body {
  font-family: sans-serif;
}

.options {
  font-size: 1rem;
  background-color: #fa7f5d;
}
