.case-info {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 300px;
  background-color: #ffecec;
  border-radius: 10px;
}

.case-info h3 {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.case-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.casos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.casos h2 {
  margin: 50px 50px 50px 50px;
  padding: 10px;
  background-color: #fa7f5d;
  width: 400px;
  text-align: center;
  color: white;
}

.description {
  height: 55px;
  overflow: hidden;
}
